:root {
	--color1: #0d0d0d;
	--color2: #f2f2f2;
	--color3: #404040;
	--color4: #bfbfbf;
	--color5: #8c8c8c;
	--font: Roboto, sans-serif;
}
@keyframes colors {
	0%{
		background-color: var(--color1);
	}
	100%{
		background-color: var(--color3);
	}

	
	
}

body {
	animation-name: colors;
    animation-timing-function: ease;
    animation-duration: 5s ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
