@media screen and (max-width: 1020px) {
	main {
		width: 600px;
		margin: 2em auto;
		background-color: var(--color4);
		border-radius: 3px;
		padding-bottom: 1px;
		box-shadow: 1px 1px 20px 5px #0000008e;
	}

	/* cabeçalho */

	.back_container_photo > div {
		padding: 20px;
		margin-top: 0px;
		display: block;
		text-align: center;
	}
	.container_photo {
		width: 100%;
	}
	.photo {
		width: 200px;
		height: 200px;
	}

	/* skills */
	.container_cards {
		margin: auto;
		width: 30em;
		display: flex;
		align-items: center;
		gap: 1em;
	}
	/* projetos */
	.container_projects {
		width: 75%;
	}
	.project {
		flex-direction: column;
	}
	.project_buttons {
		text-align: center;
	}
	/* contatos */
	.icone > p {
		margin: 0;
		font-size: 18px;
	}
	.icone:hover {
		font-size: 2em;
	}
}

@media screen and (max-width: 700px) {
	main {
		width: 390px;
		margin: 2em auto;
		background-color: var(--color4);
		border-radius: 3px;
		padding-bottom: 1px;
		box-shadow: 1px 1px 20px 5px #0000008e;
	}
	/* cabeçalho */

	.back_container_photo > div {
		padding: 20px;
		margin-top: 0px;
		display: block;
		text-align: center;
	}
	.container_photo {
		width: 100%;
	}
	.photo {
		width: 150px;
	}
	.title {
		font-size: 1.8rem;
	}

	/* skills */
	.container_cards {
		margin: auto;
		width: 23em;
		display: flex;
		align-items: center;
		gap: 1em;
	}
	/* projetos */
	.container_projects {
		width: 75%;
	}
	.project {
		flex-direction: column;
	}
	.project_buttons {
		text-align: center;
	}
	/* contatos */
	.icone > p {
		margin: 0;
		font-size: 18px;
		display: none;
	}
	.icone:hover {
		font-size: 2em;
	}
}
